<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_water_drop"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_water_drop"
        android:supportsRtl="true"
        android:theme="@style/Theme.Swaas"
        android:usesCleartextTraffic="true"
        tools:targetApi="34">

        <service
            android:name="com.swaas.app.utils.SwaasFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.swaas.app.ui.activities.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Swaas.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.swaas.app.ui.activities.LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.swaas.app.ui.activities.RegisterActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.swaas.app.ui.activities.MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

    </application>
</manifest>
